.artwork-section {
  display: flex;
  gap: 80px;
  width: 100%;
  .image-container {
    min-width: 500px;
    display: flex;
    align-items: center;
    position: relative;
    img {
      height: 100%;
      object-position: top;
      object-fit: contain;
    }
    .bookmark-btn {
      position: absolute;
      top: 15px;
      right: 15px;
    }
  }
  .data-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h3 {
      font-size: 32px;
      font-weight: 400;
      margin-bottom: 16px;
    }
    .main-data-container {
      display: flex;
      flex-direction: column;
      gap: 16px;
      .highlight {
        font-size: 24px;
        font-weight: 400;
      }
      .year {
        font-size: 16px;
        font-weight: 700;
      }
    }
    .overview-container {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }
}
