@import '../../theme.scss';
.search-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    text-transform: capitalize;
    font-size: $text-size-header;
    max-width: 684px;
    text-align: center;
    font-weight: $text-weight-bold;
    margin-bottom: 72px;
  }
  form {
    display: flex;
    flex-direction: column;
    max-width: 760px;
    width: 100%;
    .errors {
      color: $error;
      font-family: $text-family-inter;
      font-size: $text-size-small;
      margin-top: 10px;
      padding-left: 17px;
    }
  }
  .search-bar {
    display: flex;
    flex-grow: 1;
    max-width: 762px;
    padding: 16px;
    border-radius: 16px;
    gap: 16px;
    background-color: $input-bg;
    input {
      font-family: $text-family-inter;
      font-size: $text-size-small;
      display: flex;
      flex-grow: 1;
    }
  }
  .search-results-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    .sort-selector-container {
      display: flex;
      justify-content: end;
      align-items: center;
      font-family: $text-family-inter;
      gap: 20px;
      select {
        background-color: $input-bg;
        padding: 5px;
        border-radius: 10px;
      }
    }
  }
}