.search-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    text-transform: capitalize;
    font-size: 64px;
    max-width: 684px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 72px;
  }
  form {
    display: flex;
    flex-direction: column;
    max-width: 760px;
    width: 100%;
    .errors {
      color: rgb(171, 23, 23);
      font-family: Inter;
      font-size: 14px;
      margin-top: 10px;
      padding-left: 17px;
    }
  }
  .search-bar {
    display: flex;
    flex-grow: 1;
    max-width: 762px;
    padding: 16px;
    border-radius: 16px;
    gap: 16px;
    background-color: #3939390D;
    
    input {
      font-family: Inter;
      font-size: 14px;
      display: flex;
      flex-grow: 1;
    }
  }
  .search-results-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    .sort-selector-container {
      display: flex;
      justify-content: end;
      align-items: center;
      font-family: Inter;
      gap: 20px;
      select {
        background-color: #3939390D;
        padding: 5px;
        border-radius: 10px;
      }
    }
  }
}