@import '../../theme.scss';

header {
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 32px 0;
  font-family: $text-family-inter;
  background: $header-gradient;
  nav {
    max-width: 1280px;
    width: 100%;
    margin: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .links-container {
      display: flex;
      gap: 24px;
      @media (max-width: 768px) {
        position: fixed;
        background: $header-bg;
        background: linear-gradient(90deg);
        width: 100%;
        height: calc(100% - $header-height);
        top: $header-height;
        left: 100%;

        flex-direction: column;
        justify-content: center;
        transition: 0.3s ease-in-out;
        &.menu-opened {
          transform: translateX(-100%);
        }
        .navigation-link {
          justify-content: center;
        }
      }
    }
    a {
      display: flex;
      align-items: center;
      gap: 4px;
      color: $white;
    }
  }
}
