@import '../../theme.scss';
.gallery-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 40px;
  .gallery-container {
    min-height: 600px;
    .artworks-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 58px;
      margin-bottom: 30px;
    }
    .gallery-pagination {
      display: flex;
      justify-content: flex-end;
      gap: 8px;
      .pagination-btn {
        font-size: $text-size-medium;
        font-weight: $text-weight-thin;
        padding: 3px 10px;
        border-radius: 4px;
        transition: 0.3s ease;
        &:hover {
          background-color: $fav-btn-bg;
        }
        &.active {
          background-color: $orange;
          color: $white;
          font-weight: $text-weight-pagination-active;
        }
        &.arrow {
          padding: 3px;
        }
        svg {
          display: block;
        }
      }
    }
    .loader-container {
      height: 537px;
    }
  }
}
.header-container {
  text-align: center;
  font-weight: $text-weight-normal;
  p {
    font-size: $text-size-medium;
  }
  h3 {
    font-size: $text-size-sub-header;
  }
}
.loader-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

