footer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 32px 0;
  background: #ffffff;
  .links-container {
    max-width: 1280px;
    width: 100%;
    margin: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}